<html>

<head>
    <title>Sorteo de Premios</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="js/main.js"></script>-->

    <!--  <link rel="stylesheet" href="/app/lib/bootstrap/dist/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="js/main.js"></script>-->
</head>

<body ng-app="SorteoPremios" ng-controller="PremioController">
    <h1>Bienvenido al sorteo de premios</h1>

    <div class="btn-group" dropdown>

        <button type="button" class="btn btn-warning dropdown-toggle" dropdown-toggle ng-disabled="premio">
            elige tu premio
    <span class="caret"></span>
  </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#" ng-click="elegirPremios('viajes')">Viajes</a></li>
            <li><a href="#" ng-click="elegirPremios('motor')">Motor</a></li>
            <li><a href="#" ng-click="elegirPremios('propiedes')">Propiedades</a></li>

        </ul>
    </div>
    <h3 ng-show="premio">¡Enhorabuena! ¡te ha tocado un {{premio}}!</h3>
</body>

</html>
